* {
    box-sizing: border-box;
  }
.page {
    margin: auto;
    padding: 10px;
    max-width: 1100px;
    min-height: 3028px;
}

.page__body {
width: 1100px;
margin: 0;
}

/* хэдер */

.header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 105px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 24px;
}

/* Менюшка */

.menu {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 30px;
    width: 391.48px;
}

.menu-button {
    border: none;
    color: black;
    background-color: white;
    font-size: 18px;
}

.logo {
width: 148px;
height: 105px;
}

/* Контакты */

.contacts {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    display: block;
    justify-content: end;
}

/* Оверлэй */

.overlay {
 background-color: black;
 opacity: 0.6;
 z-index: 1;
 inset: 0;
 position: absolute;
}

  /* Обложка---------------------------------------------------------------- */

.cover {
    display: flex;
    flex-direction: column;
    min-width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    margin-top: 96px;
}

  /* Тайтл обложки */

.cover-title {
   display: flex;
   flex-direction: column;
   gap: 20px;
   color: white;
   margin: 165px 50px 135px 50px;
   font-size: 100px;
   font-weight: 700;
   line-height: 100%;
   text-transform: uppercase;
   z-index: 2;
   letter-spacing: 35px;
    position: relative;
    font-family: 'Raleway';
}

  /* Слово ОНО */

.text-start {
    display: block;
    line-height: 115%;
    letter-spacing: inherit;
}

  /* Слово ТЕБЕ */

.text-center {
    display: block;
    text-align: center;
    margin-right: 50px;
    }

  /* Слово НАДО */

 .text-end {
    display: block;
    text-align: right;
    margin-left: 570px;
    }

    /* Описание аукциона */

.auction-title {
    display: flex;
    align-items: center;
    float: inline-start;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    z-index: 4;
    margin-left: 78px;
    word-spacing: 15px;
    font-family: 'Raleway';
}

/* Кнопка сделать ставку*/

.bet-button {
    float: inline-end;
    border-color: white;
    background-color: transparent;
    font-size: 22px;
    font-weight: 500;
    color: white;
    width: 256px;
    height: 51px;
    z-index: 4;
    text-transform: uppercase;
    margin-right: 50px;
    margin-left: 79px;
}

/*  -------------------------Лоты----------------------------*/

.lots{
    display: flex;
    flex-wrap: wrap;
    width: 1052px;
    height: 692px;
    margin-top: 179px; 
    margin-left: 24px;
}

/* Название тайтл */

.lots__heading {
display: flex;
font-family: "Raleway-Bold", sans-serif;
font-size: 40px;
}


.lots__card-list {
display: flex;
flex-grow: 1;
justify-content: space-between;
}

.lots__card-list-item {
width: 334px;
min-height: fit-content;
text-decoration: none;
list-style-type: none;
}

.card-link {
display: block;
text-decoration: none;
line-height: 100%;
}

.card {
    width: 334px;
    min-height: 563px;
    border: 0px solid #000;
    line-height: 100%;
    position: relative;
    z-index: 0;
}

.card_type_film {
background-image: url(../images/card-lot-01.jpg);
background-size: cover;
background-repeat: no-repeat;

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card__title {
font-family: 'Raleway';
color: white;
text-decoration: underline;
text-transform: uppercase;
font-size: 22px;
font-weight: 700;
padding: 51px 40px 0px 40px;
line-height: 24px;
position: relative;
z-index: 2;
}

.card__text {
font-family: 'Raleway';
font-size: 20px;
font-weight: 400;
color: white;
text-decoration: none;
padding: 0px 40px 48px 40px;
line-height: 24px;
position: relative;
z-index: 2;
}

.lots__look-more-link {
display: flex;
justify-content: left;
font-size: 20px;
color: black;
}

.underline {
    text-decoration: underline;
}

/* --------------------------------Об аукционе */

.about{
display: grid;
grid-auto-flow: column dense;
margin: auto;
margin-top: 146px;

}

.about__column {

}
.left {
    display: grid;
    width: 33%;
}

.right {
    display: grid;
    width: 67%;
}
.about__logo {
    background-color: black;
    border-radius: 50%;
    margin: 35px 73px 320px 71px;
    padding: 63px 46px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    border-color: #000;
    background-image: url("../images/logo-white.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.about__title {
color: #000;
text-transform: uppercase ;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46.96px;
padding-top: 133px;
padding-bottom: 100px;
}

.about__text {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
flex-wrap: wrap;
line-height: 24px;
}